*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    width: 80%;
    height:80%;
    position: absolute;
    bottom: 0;
    left:150px;
    background-color: hsl(50, 79%, 51%);
    z-index: -1;
}
.main{
    width:90%;
    height: 80vh;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .image img{
      /* width:80%;
      height:80%; */
      object-fit: cover;
    
      margin-left: 70px;
      
    }
.content{
  
   position: relative;
   top:20%;
}
.content h1{
text-align: center;
margin-bottom: 30px;

}
.content pre{
font-size: 14px;

}
.content p{
text-align: center;

}
button{
padding: 10px;
margin-top: 20px;
margin-left: 10rem;
width: 12rem;
border-radius: 5px;
background-color: black;
color: white;
}